<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conversa | <%= user.house %></title>
    <script>
      const roomName = "<%= user.house %>";
      const name_user = "<%= user.name %>";
    </script>
    <script defer src="http://localhost:8000/socket.io/socket.io.js"></script>
    <script defer src="/js/client.js"></script>
    <link rel="stylesheet" href="/css/rooms.css" />
  </head>
  <body>
    <% if (user.house == 'Gryffindor') { %>
    <div class="Griffin app-container">
      <div class="house-info">
        <h2 class="housename"><%= user.house %></h2>
        <h3 class="online">Online Users</h3>
        <div class="namelist">
          <!-- <p class="name">zomato</p>
          <p class="name">user1</p>
          <p class="name">flipkart</p>
          <p class="name">swiggy</p>
          <p class="name">twitter</p>
          <p class="name">tvf</p>
          <p class="name">amazon</p>
          <p class="name">panero</p>
          <p class="name">zomato</p>
          <p class="name">user1</p>
          <p class="name">flipkart</p>
          <p class="name">swiggy</p>
          <p class="name">twitter</p>
          <p class="name">tvf</p>
          <p class="name">amazon</p>
          <p class="name">panero</p> -->
        </div>
        <a href="/login">Logout</a>
      </div>
      <div class="chatbox">
        <div class="container">
          <div class="message right">Me: Hello, How r u?</div>
          <div class="message left">Prachi: Hi, I joined right now</div>
        </div>

        <div class="send">
          <form action="#" id="send-container">
            <input
              type="text"
              id="messageInp"
              name="messageInp"
              placeholder="Type Message..."
              required
            />
            <button class="button" type="submit">
              <div class="arrow-up"></div>
              <div class="arrow-down"></div>
            </button>
          </form>
        </div>
      </div>
    </div>
    <% } else if (user.house == 'Slytherin') { %>
    <div class="Sly app-container">
      <div class="house-info">
        <h2 class="housename"><%= user.house %></h2>
        <h3 class="online">Online Users</h3>
        <div class="namelist">
          <!-- <p class="name">flipkart</p>
          <p class="name">swiggy</p> -->
        </div>
        <a href="/login">Logout</a>
      </div>
      <div class="chatbox">
        <div class="container">
          <div class="message right">Me: Hello, How r u?</div>
          <div class="message left">Prachi: Hi, I joined right now</div>
        </div>

        <div class="send">
          <form action="#" id="send-container">
            <input
              type="text"
              id="messageInp"
              name="messageInp"
              placeholder="Type Message..."
              required
            />
            <button class="button" type="submit">
              <div class="arrow-up"></div>
              <div class="arrow-down"></div>
            </button>
          </form>
        </div>
      </div>
    </div>
    <% } else if (user.house == 'Ravenclaw') { %>
    <div class="Raven app-container">
      <div class="house-info">
        <h2 class="housename"><%= user.house %></h2>
        <h3 class="online">Online Users</h3>
        <div class="namelist">
          <!-- <p class="name">twitter</p>
          <p class="name">tvf</p>
          <p class="name">amazon</p> -->
        </div>
        <a href="/login">Logout</a>
      </div>
      <div class="chatbox">
        <div class="container">
          <div class="message right">Me: Hello, How r u?</div>
          <div class="message left">Prachi: Hi, I joined right now</div>
        </div>

        <div class="send">
          <form action="#" id="send-container">
            <input
              type="text"
              id="messageInp"
              name="messageInp"
              placeholder="Type Message..."
              required
            />
            <button class="button" type="submit">
              <div class="arrow-up"></div>
              <div class="arrow-down"></div>
            </button>
          </form>
        </div>
      </div>
    </div>
    <% } else if (user.house == 'Hufflepuff') { %>
    <div class="Huff app-container">
      <div class="house-info">
        <h2 class="housename"><%= user.house %></h2>
        <h3 class="online">Online Users</h3>
        <div class="namelist">
          <!-- <p class="name">panero</p>
          <p class="name">Huff</p> -->
        </div>
        <a href="/login">Logout</a>
      </div>
      <div class="chatbox">
        <div class="container">
          <div class="message right">Me: Hello, How r u?</div>
          <div class="message left">Prachi: Hi, I joined right now</div>
        </div>

        <div class="send">
          <form action="#" id="send-container">
            <input
              type="text"
              id="messageInp"
              name="messageInp"
              placeholder="Type Message..."
              required
            />
            <button class="button" type="submit">
              <div class="arrow-up"></div>
              <div class="arrow-down"></div>
            </button>
          </form>
        </div>
      </div>
    </div>
    <% } %>
  </body>
</html>
